/* Developed by Jozek Andrzej Hajduk Sánchez */
:root {
    --header-color: #f1f1f1;
    --components-color: #530053;
}

.menu > .nav-image {
    display: none;
}

.menu > .nav {
    margin: auto 0;
}

.menu > .nav > .nav-bar {
    display: list-item;
    list-style: none;
    margin-right: 3rem;
}

.nav-item, #resource-button {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #202020;
}

.nav-item {
    display: inline-block;
    margin: 0 2rem;
}

#resource-button {
    width: 10rem;
    height: 4rem;
    color: var(--components-color);
    border: 0.1rem solid var(--components-color);
    border-radius: 0.6rem;
    font-weight: lighter;
}

#main {
    flex-wrap: nowrap;
}

#main .text {
    order: 2;
    margin: auto 8rem auto 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 50%;
}

#main .title, #main .paragraph {
    padding: 0;
    width: 100%;
    padding: 0 8rem;
    /* margin: 0 20rem; */
}

#main > .text > .title {
    font-size: 8rem;
}

#main > .text > .paragraph {
    padding-top: 3rem;
    width: 100%;
    padding-right: 25rem;
}

#main .main-image {
    order: 1;
    margin: 8rem;
    width: 50%;
}

.main-image .image {
    margin: 0 3rem 2rem 0;
}

#started-button {
    margin-top: 3rem;
}

#started-button .started {
    width: 20rem;
}

#footer {
    display: block;
}

#footer .text {
    width: 40%;
    margin: 0 auto;
}

#footer .text .btn {
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

#footer .images-container {
    width: 40%;
    margin: 0 auto;
}

#footer .item-image {
    width: 50%;
}

#footer .item-image:nth-child(1){
    order: 1;
}

#footer .item-image:nth-child(2){
    order: 2;
    border: 0;
    border-left: 0.1rem solid #cacaca;
}

#footer .item-image:nth-child(3){
    order: 3;
}

#footer .item-image:nth-child(4){
    order: 4;
    border-left: 0.1rem solid #cacaca;
}